@model ALS.Models.Ad.AdDetailsModel

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
        <h1>
            @Model.Title
        </h1>
    </div>

    <div class="col-md-12">
        <h3>
            Category: @Model.Category
        </h3>
    </div>

    <div class="col-md-12">
        <h3>
            City: @Model.City
        </h3>
    </div>

    <div class="col-md-12">
        <h3>
            Content:
            <br />
            @Model.Content
        </h3>
    </div>

    <div class="col-md-12">
        <h3>
            Price: @Model.Price
        </h3>
    </div>

    <div class="col-md-12">
        <h3>
            Contact: @Model.Contact
        </h3>
    </div>

    @foreach (var picture in Model.Pictures)
    {
        <div>
            <img src="@picture.FilePath", class="img-responsive" />
            <br />
        </div>
    }

    <div class="col-md-12">
        <h3>
            @Model.DateAdded
        </h3>
    </div>

    <footer class="pull-right">
        @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
            @Html.ActionLink("Edit", "Edit", "Ad", new { @id = Model.Id }, new { @class = "btn btn-success btn-lg" })
            @Html.ActionLink("Delete", "Delete", "Ad", new { @id = Model.Id }, new { @class = "btn btn-danger btn-lg" })
        }


        <a href="/Ad/List" class="btn btn-default btn-lg" title="Back to list">Back</a>
    </footer>



</div>
