@model IEnumerable<ALS.Models.Ad.AdListingModel>

@{
    ViewBag.Title = "List";
}

<div class="row">
    <h3 class="text-center">Page @ViewBag.CurrentPage</h3>
    <br />
    @if (!Model.Any())
    {
        <h3 class="text-center"> No more ads!</h3>
    }
    @foreach (var ad in Model)
    {
        <div class="col-md-12">
            <h2>
                @if (ad.Status == ALS.Data.AdStatus.VIP)
                {
                    <strong style="background-color:red">VIP</strong>
                }
                @if (ad.Status == ALS.Data.AdStatus.Pending)
                {
                    <strong style="background-color:red">Pending</strong>
                }
                @ad.Title
            </h2>
            <h4>Price: @ad.Price</h4>
            <a class="btn btn-default" href="/Ad/Details/@ad.Id">Details</a>
            <img src="@ad.MainPicture.FilePath" width="500" class="img-responsive" />
            <br />
        </div>
    }
    @{
        var currentUserQuery = Request.QueryString["user"];
    }
    <br />
    <br />
    <div class="col-md-12">
        <p class="text-center">
            <a href="/Ad/List?page=@(ViewBag.CurrentPage - 1)
           @(currentUserQuery != null ? "&user=" + currentUserQuery : string.Empty)" class="btn btn-primary
           @(ViewBag.CurrentPage == 1 ? "disabled" : string.Empty)"><< Previous</a>
            <a href="/Ad/List?page=@(ViewBag.CurrentPage + 1)
           @(currentUserQuery != null ? "&user=" + currentUserQuery : string.Empty)" class="btn btn-primary
           @(!Model.Any() || Model.Count() < 5 ? "disabled" : string.Empty)">Next >></a>
        </p>
    </div>
</div>




